<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAAA</title>
</head>
<body>
    <form action="/listar" method="POST">
        <button>VER</button>
    </form>

    <form action="/adicionar" method="POST">
        <button>ADICIONAR</button>
    </form>
    
</body>
</html>